body{
    background-color: #FFF1E1;
}

.mainpage{
    display: flex;
}

.form{
    background-color: white;
    position: absolute;
    width: 450px;
    height: 475px;
    left: 670px;
    top: 50px;
    box-shadow: 0 0 15px -2px #444444 ;
   
}

img{
    position: absolute;
    width: 375px;
    height: 375px;
    left: 100px;
    top: 90px;
}