h2{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;

    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
}

p{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    align-items: center;
    text-align: center;

    color: #000000;

}

h1{   
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 52px;
    align-items: center;
    text-align: center;
    color: #402E9C;
}